use master
go
create database [PRJ301_TICKET_FILM]
go


USE [PRJ301_TICKET_FILM]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[BID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[FilmID] [nvarchar](2000) NULL,
	[SID] [int] NULL,
	[Position] [nvarchar](10) NULL,
	[price] [float] NULL,
	[time] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[OID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[FilmID] [nvarchar](2000) NULL,
	[SID] [int] NULL,
	[Position] [nvarchar](10) NULL,
	[price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[FilmID] [nvarchar](2000) NOT NULL,
	[HotLevel] [int] NULL,
	[Information] [nvarchar](4000) NULL,
	[Price] [float] NULL,
	[Publish_date] [date] NULL,
	[Duration] [float] NULL,
	[status] [nvarchar](20) NULL,
	[image] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie-Schedule](
	[FilmID] [nvarchar](2000) NOT NULL,
	[SID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FilmID] ASC,
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[day] [date] NULL,
	[StartTime] [varchar](20) NULL,
	[EndTime] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seat](
	[Position] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seatSchedule](
	[SID] [int] NOT NULL,
	[Position] [nvarchar](10) NOT NULL,
	[FilmID] [nvarchar](2000) NOT NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SID] ASC,
	[Position] ASC,
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[password] [varchar](20) NULL,
	[name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[sex] [bit] NULL,
	[address] [varchar](50) NULL,
	[phonenumber] [varchar](20) NULL,
	[Role] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bill] ON 

INSERT [dbo].[bill] ([BID], [UserID], [FilmID], [SID], [Position], [price], [time]) VALUES (1, 3, N'DAENG: HẬU DUỆ TÌNH NGƯỜI DUYÊN MA', 5, N'B3', 360000, CAST(N'2022-07-07' AS Date))
INSERT [dbo].[bill] ([BID], [UserID], [FilmID], [SID], [Position], [price], [time]) VALUES (2, 3, N'DAENG: HẬU DUỆ TÌNH NGƯỜI DUYÊN MA', 5, N'B4', 360000, CAST(N'2022-07-07' AS Date))
INSERT [dbo].[bill] ([BID], [UserID], [FilmID], [SID], [Position], [price], [time]) VALUES (3, 3, N'DAENG: HẬU DUỆ TÌNH NGƯỜI DUYÊN MA', 5, N'B5', 360000, CAST(N'2022-07-07' AS Date))
SET IDENTITY_INSERT [dbo].[bill] OFF
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([OID], [UserID], [FilmID], [SID], [Position], [price]) VALUES (1075, 3, N'DAENG: HẬU DUỆ TÌNH NGƯỜI DUYÊN MA', 1, N'A3', 360000)
INSERT [dbo].[cart] ([OID], [UserID], [FilmID], [SID], [Position], [price]) VALUES (1076, 3, N'DAENG: HẬU DUỆ TÌNH NGƯỜI DUYÊN MA', 1, N'A5', 360000)
INSERT [dbo].[cart] ([OID], [UserID], [FilmID], [SID], [Position], [price]) VALUES (1077, 3, N'DAENG: HẬU DUỆ TÌNH NGƯỜI DUYÊN MA', 1, N'B4', 360000)
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
INSERT [dbo].[Movie-Schedule] ([FilmID], [SID]) VALUES (N'70K HARRY POTTER VÀ TÙ NHÂN AZKABAN', 1)
INSERT [dbo].[Movie-Schedule] ([FilmID], [SID]) VALUES (N'70K HARRY POTTER VÀ TÙ NHÂN AZKABAN', 3)
INSERT [dbo].[Movie-Schedule] ([FilmID], [SID]) VALUES (N'70K HARRY POTTER VÀ TÙ NHÂN AZKABAN', 5)
GO
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([SID], [day], [StartTime], [EndTime]) VALUES (1, CAST(N'2022-07-17' AS Date), N'12h00', N'14h00')
INSERT [dbo].[Schedule] ([SID], [day], [StartTime], [EndTime]) VALUES (2, CAST(N'2022-07-17' AS Date), N'14h30', N'16h30')
INSERT [dbo].[Schedule] ([SID], [day], [StartTime], [EndTime]) VALUES (3, CAST(N'2022-07-17' AS Date), N'17h00', N'19h00')
SET IDENTITY_INSERT [dbo].[Schedule] OFF
GO
INSERT [dbo].[Seat] ([Position]) VALUES (N'A1')
INSERT [dbo].[Seat] ([Position]) VALUES (N'A2')
INSERT [dbo].[Seat] ([Position]) VALUES (N'A3')
GO
INSERT [dbo].[seatSchedule] ([SID], [Position], [FilmID], [Status]) VALUES (1, N'A1', N'70K HARRY POTTER VÀ TÙ NHÂN AZKABAN', 1)
INSERT [dbo].[seatSchedule] ([SID], [Position], [FilmID], [Status]) VALUES (1, N'A1', N'DAENG: HẬU DUỆ TÌNH NGƯỜI DUYÊN MA', 1)
INSERT [dbo].[seatSchedule] ([SID], [Position], [FilmID], [Status]) VALUES (1, N'A1', N'DÂN CHƠI KHÔNG SỢ CON RƠI', 1)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [password], [name], [email], [sex], [address], [phonenumber], [Role]) VALUES (1, N'admin', N'admin', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[User] ([UserID], [password], [name], [email], [sex], [address], [phonenumber], [Role]) VALUES (2, N'123', N'123', N'123', 1, N'123', N'123', 0)
INSERT [dbo].[User] ([UserID], [password], [name], [email], [sex], [address], [phonenumber], [Role]) VALUES (3, N'huu', N'huu', N'huu', 1, N'huu', N'huu', 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Movie-Schedule]  WITH CHECK ADD FOREIGN KEY([FilmID])
REFERENCES [dbo].[Movie] ([FilmID])
GO
ALTER TABLE [dbo].[Movie-Schedule]  WITH CHECK ADD FOREIGN KEY([SID])
REFERENCES [dbo].[Schedule] ([SID])
GO
ALTER TABLE [dbo].[seatSchedule]  WITH CHECK ADD FOREIGN KEY([FilmID])
REFERENCES [dbo].[Movie] ([FilmID])
GO
ALTER TABLE [dbo].[seatSchedule]  WITH CHECK ADD FOREIGN KEY([Position])
REFERENCES [dbo].[Seat] ([Position])
GO
ALTER TABLE [dbo].[seatSchedule]  WITH CHECK ADD FOREIGN KEY([SID])
REFERENCES [dbo].[Schedule] ([SID])
GO
